
#image {
  object-position: center;
}
input[type="image" i] {
    appearance: none;
    background-color: initial;
    cursor: pointer;
    padding: initial;
    border: initial;
}
#nav-list {
  margin-top: 10px;
}
ul li a {
  display: inline-block;
  padding: 5px;
  list-style-type: none;
  text-decoration: none;
}
