

#nav-list {
  margin-top: 10px;
}
ul li a {
  display: inline-block;
  padding: 5px;
  list-style-type: none;
  text-decoration: none;
}

element.style {
}
.lnXdpd {
    max-height: 25%;
    max-width: 25%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 11px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
input[type=text] {
  width: 50%;
  padding: 1px 8px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 4px;
  display: flex;
  height: 25px;
  font-size: 13px;
  background-color: transparent;
}

.jfk-textinput {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}



