
div {
  display: flex;
  justify-content: center;
}

img{
  width: 60%;
}

#nav-list {
  margin-top: 10px;
}
ul li a {
  display: inline-block;
  padding: 5px;
  list-style-type: none;
  text-decoration: none;
}
